/*
 * Все паршалы импортировать в этот файл
 */

@import 'normalize.scss';
@import 'base.scss';
@import 'reset.scss';

@import './components/detailsPage';
@import './components/footer';
@import './components/header';
@import './components/homePage';
@import './components/main';
@import './components/myFilmLibraryPage';

@import './helpers/fonts';
@import './helpers/mixin';
@import './helpers/variables';
