.subheader {
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
  &:hover {
    cursor: pointer;
  }
}

.features {
  display: none;
  background: none;
  & li,
  & h4 {
    //  border: 2px solid #fd9644;
    -webkit-box-shadow: 0px 0px 7px 0px #fff;
    box-shadow: 0px 0px 7px 0px #fff;
  }
  &__title {
    // text-transform: uppercase;

    border-radius: 10px;
    color: #ecf0f1;
    // padding-top: 15px;
    font-size: 12px;
    line-height: 40px;
    // width: 100px;
    vertical-align: middle;
    text-align: center;
    margin-right: 11px;
    margin-top: 5px;
    animation: fadeIIn;
    animation-direction: 2s;
    line-height: 40px;
    padding: 0 15px;
    width: 100px;
    animation-fill-mode: forwards;
  }
  &__item {
    font-size: 14px;
    // border: 1px solid #fdcb6e;

    // #d63031
    border-radius: 10px;
    text-align: right;
    position: relative;
    animation: flipInX;
    animation-duration: 1.4s;
    margin: 5px;
    padding: 0 10px;
    line-height: 40px;

    color: #ecf0f1;
    // animation-delay: 500ms;

    &::before {
      position: absolute;
      background-image: url('../../images/btn.png');
      background-repeat: no-repeat;
      // color: black;
      content: ' ';
      // display: block;
      margin-top: 10px;
      z-index: 10;
    }
  }
  &.pro {
    @include for-size(mobile) {
      display: none;
    }
    @include for-size(tablet) {
      display: none;
    }
    @include for-size(desktop) {
      display: flex;
      flex-direction: row;
      justify-content: flex-start;
      align-items: flex-start;
      flex-wrap: nowrap;
      line-height: 50px;
      margin-right: 20px;
      // margin-right: -300px;
    }
  }
}
