.search-form__wrapper {
  padding: 22px 0;
}

.search-form {
  text-align: center;

  &__input {
    height: 22px;
    width: 256px;
    border: none;
    border-bottom-style: solid;
    border-bottom-width: 2px;
    border-bottom-color: #9894a1;
    padding: 0;

    &::placeholder {
      position: relative;
      font-size: 14px;
      letter-spacing: 0px;
      line-height: 1,2;
      font-family: $main-font;
      color: $input-color;
      padding-left: 28px;
    }
  }
}

// иконка loupe НЕ ОТОБРАЖАЕТСЯ!!  Вероятнее всего запуталась в относительном пути
.search-form__input::placeholder::before {
  content: " ";
  display: block;
  position: absolute;
  background-image: url('../../images/loupe.png');
  width: 16px;
  height: 16px;
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center;
}

// стилизация ошибки при некорректном вводе названия фильма
.search-form__error--hidden {
  font-size: 0;
}

.search-form__error--visibale {
  font-size: 14px;
  color: red;
  font-weight: bold;
  text-align: center;
}

// PAGINATION btn

.page-counter__wrapper {
  display: flex;
  justify-content: space-between;
  width: 272px;
  margin: 0 auto;
  padding-bottom: 24px;
}

.page-counter__btn {
  font-size: 22px;
  line-height: 25px;
  color: $pagination-color;
  font-weight: 700;
  font-family: $main-font;
  border-radius: 5px;
  border: 1px solid #dddddd;
  padding: 12px 25px;
}

// Медиа SEARCH-FORM от 768px и выше
@media (min-width: 768px) {
  .search-form__input {
    height: 24px;
    width: 284px;

    &::placeholder {
      font-size: 16px;
    }
  }

  .search-form__input::placeholder::before {
    width: 20px;
    height: 20px;
  }

  .search-form__error--visibale {
    font-size: 16px;
  }

  // Медиа PAGINATION от 768px и выше
  .page-counter__wrapper {
    width: 214px;
    padding-bottom: 14px;
  }

  .page-counter__btn {
    font-size: 18px;
    line-height: 20px;
    border-radius: 4px;
    padding: 12px 18px;
  }
}

//фильмы
.movies {
    margin-bottom: 200px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    @include for-size(tablet) {
      flex-direction: row;
      flex-wrap: wrap;
    }

    &__image {
      border-radius: 10px;
      margin: 0 auto;
    }
    &__item {
      position: relative;
      width: 90%;
      height: 150px;
      border-radius: 5px;
      overflow: hidden;
      margin-bottom: 20px;
      // display: flex;
      // justify-content: center;
      @include for-size(tablet) { 
        width: 45%;
        &:nth-child(odd) {
          margin-right: 27px;
        }
        
      }

    }

    &__title {
      position: absolute;
      font-size: 15px;
      left: 10px;
      bottom: 10px;
      color: white;
    }
}